.item{
    text-align: center;
    background-color: rgb(247 247 247);
    height: 100%;
}
.manner{
    font-weight: 500;
    font-size: 139px;
    line-height: 1;
    padding: 30px 40px;
}
.row{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* margin: 38px -76px; */
    padding: 0 154px;
    font-size: 30px;
    line-height: 2;
    list-style-type:none;
    text-align: left;
}

    