.medium-text{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 90px;
    background-color: rgb(247 247 247);
   
 .head{
    font-size: 80px;
    line-height: 1;
    }   
    .para{
        font-size: 27px;
    color: rgba(29,29,31,.8);
}
.content-mass{
    font-size: 18px;
  background: #FF4419;
  color: #fff !important;
  padding: 13px 24px;
  text-decoration: none;
}
}
.data{
    background-image: url('../Component/Image/heroimgmin.webp');
    background-repeat: no-repeat;
    margin: 0 80px;
    height: 100%;
    width: 100%;
 }
 .main{
    letter-spacing: 3px;
    padding: 0 50px;
    font-weight: 900;
    font-size: xx-large;
    .top{
        padding: 0 20px;
    font-weight: bold;
}
    }
.website{
    display: inline-block;
    border-radius: 48px;
    border: 1px solid #404040;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .48px;
    color: #000;
    padding: 0 24px 0 12px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 42px;
}
 